"""streamlit==1.39.0
pymupdf==1.23.25
langchain==0.2.10
langchain-community==0.2.10
langchain-core==0.2.10
langchain-text-splitters==0.2.2
sentence-transformers==2.2.2
faiss-cpu==1.7.4
python-dotenv==1.0.1
tiktoken==0.7.0"""
