streamlit==1.30.0
sentence-transformers==2.2.2
torch==2.1.0+cpu
transformers==4.34.0
faiss-cpu==1.7.4
pypdf==3.16.0
gdown==4.8.1
langchain==0.1.148
langchain-embeddings==0.0.10
numpy==1.26.0

